@using ProyectoProgramadoLenguajes2024.Models.ViewModels
@model PacienteVM
<partial name="_Notifications" />

<form method="post">

    <input hidden asp-for="Paciente.Cedula" />

    <div class="mb-3">
        <div class="row pb-2">
            <h2 class="text-primary"> @(Model.Paciente.Cedula == 0 ? "Crear" : "Actualizar") Paciente</h2>
        </div>
    </div>



    <div class="mb-3">
        <label asp-for="Paciente.NombreCompleto" class="p-0"></label>
        <input asp-for="Paciente.NombreCompleto" type="text" class="form-control" />
        <span asp-validation-for="Paciente.NombreCompleto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Paciente.CorreoElectronico" class="p-0"></label>
        <input asp-for="Paciente.CorreoElectronico" type="text" class="form-control" />
        <span asp-validation-for="Paciente.CorreoElectronico" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary" style="width:150px">Guardar</button>
    <a asp-controller="Paciente" asp-action="Index" style="width:200px" class="btn btn-secondary">Regresar a la lista</a>



</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}