@{
    ViewData["Title"] = "Lista de Medicamentos";
}

<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Lista de Medicamentos
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Medicina" asp-controller="Medicamento" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar Medicamento
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/medicamento.js"></script>