@using ProyectoProgramadoLenguajes2024.Models.ViewModels
@model EspecialidadVM
<partial name="_Notifications" />

<form method="post">

    <input hidden asp-for="Especialidad.Id" />

  
        <div class="row pb-2">
            <h2 class="text-primary"> @(Model.Especialidad.Id == 0 ? "Crear" : "Actualizar") Especialidad</h2>
        </div>
  

        <div class="mb-3">
            <label asp-for="Especialidad.Nombre" class="p-0"></label>
            <input asp-for="Especialidad.Nombre" type="text" class="form-control" />
            <span asp-validation-for="Especialidad.Nombre" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary" style="width:150px">Guardar</button>
        <a asp-controller="Especialidad" asp-action="Index" style="width:200px" class="btn btn-secondary">Regresar a la lista</a>
   


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}