@using ProyectoProgramadoLenguajes2024.Models.ViewModels
@model TratamientosPacientesVM
@{
    ViewData["Title"] = "Expediente - Tratamientos";
    var pacienteId = ViewData["PacienteId"];
}

<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Tratamientos
            </h2>
        </div>
    </div>

    <input type="hidden" id="pacienteId" value="@pacienteId" />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Tratamiento</th>
                <th>Descripcion</th>
                <th>Diagnosticado Por</th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/listaTratamientoPaciente.js"></script>
