@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registro realizado";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 65vh;">
        <div class="col-md-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
            @if (@Model.DisplayConfirmAccountLink)
            {
                <p class="text-center">
                    El registro de la cuenta ha sido exitoso.
                </p>
            }
        </div>
    </div>
</div>
