@using ProyectoProgramadoLenguajes2024.Models.ViewModels
@model PadecimientoVM
<partial name="_Notifications" />

<form method="post">

    <input hidden asp-for="Padecimiento.Id" />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> @(Model.Padecimiento.Id == 0 ? "Crear" : "Actualizar") Padecimiento</h2>
        </div>
    </div>

    <div class="border p-3 mt-4">
        <div class="mb-3">

        <div class="mb-3">
            <label asp-for="Padecimiento.Nombre" class="p-0"></label>
            <input asp-for="Padecimiento.Nombre" type="text" class="form-control" />
            <span asp-validation-for="Padecimiento.Nombre" class="text-danger"></span>
        </div>
            <div class="mb-3">
                <label asp-for="Padecimiento.Descripcion" class="p-0"></label>
                <input asp-for="Padecimiento.Descripcion" type="text" class="form-control" />
                <span asp-validation-for="Padecimiento.Descripcion" class="text-danger"></span>
            </div>


        <button type="submit" class="btn btn-primary" style="width:150px">Guardar</button>
        <a asp-controller="Padecimiento" asp-action="Index" style="width:200px" class="btn btn-secondary">Regresar a la lista</a>
    </div>


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}