@using ProyectoProgramadoLenguajes2024.Models.ViewModels
@model ExpedienteVM

<div class="container">
    <div class="card-body">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">
                    Agregar Examen Médico
                </h2>
            </div>
        <form asp-action="AgregarExamenesMedicos" enctype="multipart/form-data" method="post">

            <div class="mb-3">
                <label asp-for="ExamenVM.Examen.Descripcion" class="form-label">Descripción</label>
                <input asp-for="ExamenVM.Examen.Descripcion" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="ExamenVM.Examen.ArchivoURL" class="form-label">PDF o Imagen</label>
                <input id="uploadBox" name="file" type="file" class="form-control" />
                <span asp-validation-for="ExamenVM.Examen.ArchivoURL" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ExamenVM.Examen.NumeroColegiadoMedico" class="form-label">Médico Tratante</label>
                <select asp-for="ExamenVM.Examen.NumeroColegiadoMedico" asp-items="@Model.MedicoTratanteVM.MedicoTratanteList" class="form-select">
                    <option value="0">--- Seleccionar Médico ---</option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="ExamenVM.Examen.CedulaPaciente" class="form-label">Cédula del Paciente</label>
                <input asp-for="ExamenVM.Examen.CedulaPaciente" class="form-control" readonly />
                <span asp-validation-for="ExamenVM.Examen.CedulaPaciente" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary me-3">Guardar</button>
                <a asp-area="Medicina" asp-controller="Paciente" asp-action="ExamenesMedicos" asp-route-id="@Model.ExamenVM.Examen.CedulaPaciente" class="btn btn-secondary">Regresar a la lista</a>
            </div>

        </form>
    </div>
</div>
