@{
    ViewData["Title"] = "Expediente";
}
@model Paciente
<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Expediente de @Model.NombreCompleto
            </h2>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12 text-end">
            <a asp-area="Medicina" asp-controller="Paciente" asp-action="Padecimientos" asp-route-id="@Model.Cedula" class="btn btn-primary mx-2">
                <i class="bi bi-plus-circle"></i> Padecimientos
            </a>
            <a asp-area="Medicina" asp-controller="Paciente" asp-action="Tratamientos" asp-route-id="@Model.Cedula" class="btn btn-primary mx-2">
                <i class="bi bi-plus-circle"></i> Tratamientos
            </a>
            <a asp-area="Medicina" asp-controller="Paciente" asp-action="Medicamentos" asp-route-id="@Model.Cedula" class="btn btn-primary mx-2">
                <i class="bi bi-plus-circle"></i> Medicamentos
            </a>
        </div>
    </div>
</div>
